<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flamasoker.edu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ApiRest" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".QuizApp" />
        <activity android:name=".SintaxisCode" />
        <activity android:name=".CienciasNaturales" />
        <activity android:name=".LenguaMaterna" />
        <activity android:name=".ConcluidoNivel" />
        <activity android:name=".Ejercicios" />
        <activity android:name=".NivelesAritmetica" />
        <activity android:name=".NivelesArit" />
        <activity android:name=".Inicio">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".NaviationDrawerMain"
            android:label="@string/title_activity_naviation_drawer_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".list" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>